# Project: Wrangling and Analyze Data

## Table of Contents

<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href='#gather'>Data Gathering</a></li>
    <li><a href='#assess'> Assessment of Data</a></li>
    <li><a href='#clean'> Cleaning Data</a></li>
    <li><a href='#visual'> Visualizing of Data</a></li>
    <li><a href='#conclusion'>Conclusion</a></li>
    <li><a href='#report'>Report</a></li>
</ul>

<a id="#intro"></a>
## Introduction
The dataset comes from the tweet archive of Twitter user @dog_rates, also known as WeRateDogs.

WeRateDogs is a Twitter account that rates people's dogs with humorous comments about the dog. These ratings almost always have a denominator of 10 though the numerators can be absurdly large. Why? Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.

I got access to their tweet archive via Udacity. This archive contains basic tweet data (tweet ID, timestamp, text, etc.) for all 5000+ of their tweets as they stood on August 1, 2017.

The Data Gathering process is supposed to comprise 3 methods of gathering data:


#### The WeRateDogs Twitter archive
To be downloaded manually

#### The tweet image predictions
image_predictions.tsv... To be downloaded programmatically

#### Additional data from the Twitter API
Each tweet's retweet count and favorite ("like") is to be queried from Twitter's API into a file, tweet_json.txt.
However, due to my Twitter Developer account not being verified in time, I proceeded to download this file manually as Udacity foresaw scenarios like this

In [1]:
import tweepy
import json
import sys
import requests
import pandas as pd
import numpy as np
import time
import warnings
import matplotlib.pyplot as plt
from tweepy import OAuthHandler
from timeit import default_timer as timer
import seaborn as sns
sns.set_style('dark')

<a id="#gather"></a>
## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [2]:
twitter_archive =pd.read_csv('twitter-archive-enhanced.csv')

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [3]:
# url ='https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
# response= requests.get(url)

# with open('image-predictions.tsv',mode='wb') as file:
#     file.write(response.content)

In [4]:
image_pred = pd.read_csv('image-predictions.tsv',sep='\t')
image_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [5]:
# consumer_key= '****'
# consumer_secret ='****'
# access_token ='****'
# access_secret = '****'

In [6]:
# auth = OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_secret)

# api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
# tweet_ids = twitter_archive.tweet_id.values
# len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
# count = 0
# fails_dict = {}
# start = timer()
# # Save each tweet's returned JSON as a new line in a .txt file
# with open('tweet_json.txt', 'w') as outfile:
#     # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
#     for tweet_id in tweet_ids:
#         count += 1
#         print(str(count) + ": " + str(tweet_id))
#         try:
#             tweet = api.get_status(tweet_id, tweet_mode='extended')
#             print("Success")
#             json.dump(tweet._json, outfile)
#             outfile.write('\n')
#         except tweepy.TweepyException as e:
#             print("Fail")
#             fails_dict[tweet_id] = e
#             pass
# end = timer()
# print(end - start)
# print(fails_dict)

In [7]:
## Read text file  line by line to create dataFrame
tweets_data = []
with open('tweet_json.txt') as file:
    for line in file:
        try:
            tweet = json.loads(line)
            tweets_data.append(tweet)
        except:
            continue
df_api = pd.DataFrame(tweets_data,columns=list(tweets_data[0].keys()))

In [8]:
df_api

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,6877,32900,False,False,False,False,en
1,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,5179,28430,False,False,False,False,en
2,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,3422,21371,False,False,False,False,en
3,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,7086,35866,False,False,False,False,en
4,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,7598,34309,False,False,False,False,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,Mon Nov 16 00:24:50 +0000 2015,666049248165822465,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,35,85,False,False,False,False,en
2321,Mon Nov 16 00:04:52 +0000 2015,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,113,243,False,False,False,False,en
2322,Sun Nov 15 23:21:54 +0000 2015,666033412701032449,666033412701032449,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,35,98,False,False,False,False,en
2323,Sun Nov 15 23:05:30 +0000 2015,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,39,111,False,False,False,False,en
2324,Sun Nov 15 22:32:08 +0000 2015,666020888022790149,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,None,None,False,416,2230,False,False,False,False,en

In [9]:
df_api.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'extended_entities', 'source',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'retweet_count', 'favorite_count',
       'favorited', 'retweeted', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang'],
      dtype='object')

In [10]:
json_df = df_api[['id','favorite_count','retweet_count']]
json_df.head()

                   id  favorite_count  retweet_count
0  892420643555336193           32900           6877
1  892177421306343426           28430           5179
2  891815181378084864           21371           3422
3  891689557279858688           35866           7086
4  891327558926688256           34309           7598

<a id="#assess"></a>
## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

### Visual Assessment

In [11]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [12]:
twitter_archive.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Programmatic Assessment

In [13]:
## To check the dataset information
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

To check the descriptive statistics of the datasets

In [14]:

twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [15]:
## to find the number of missing values for each features
twitter_archive.isna().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [16]:
# To find the distribution of the tweet source using the value counts function
twitter_archive['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [17]:
## To check the name column
twitter_archive['name'].unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'DevÃ³n', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'RalphÃ©', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'FlÃ¡vio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'OliviÃ©r', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'FrÃ¶nq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'AmÃ©lie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'GÃ²rdÃ³n', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

Discovered some invalid names like 'a' , all','None'. I noticed that most of this invalid names comes in lowercase

In [18]:
lower_list=list(twitter_archive[twitter_archive['name'].str.islower()]['name'].unique())
lower_list

['such',
 'a',
 'quite',
 'not',
 'one',
 'incredibly',
 'mad',
 'an',
 'very',
 'just',
 'my',
 'his',
 'actually',
 'getting',
 'this',
 'unacceptable',
 'all',
 'old',
 'infuriating',
 'the',
 'by',
 'officially',
 'life',
 'light',
 'space']

In [19]:
twitter_archive[twitter_archive['rating_denominator']==twitter_archive['rating_denominator'].max()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None

The WeRateDogs ratings comes in fractional form ie numbers that has a numerator and the denominator

In [20]:
#To check the number of unique values
twitter_archive['rating_denominator'].nunique()

18

In [21]:
 twitter_archive['rating_numerator'].unique()

array([  13,   12,   14,    5,   17,   11,   10,  420,  666,    6,   15,
        182,  960,    0,   75,    7,   84,    9,   24,    8,    1,   27,
          3,    4,  165, 1776,  204,   50,   99,   80,   45,   60,   44,
        143,  121,   20,   26,    2,  144,   88], dtype=int64)

from the rating_numerator,there are presence of outliers. In order to ascertain the validity of these ratings, I have to compare the text column with the ratings.

In [22]:
twitter_archive.loc[:,['text','rating_numerator','rating_denominator']].sample(5)

,text,rating_numerator,rating_denominator
59,Ugh not again. We only rate dogs. Please don't...,12,10
1949,When you're having a blast and remember tomorr...,11,10
783,This is Maximus. A little rain won't stop him....,12,10
1008,Again w the sharks guys. This week is about do...,11,10
2052,This is Malcolm. He just saw a spider. 10/10 h...,10,10

From the above dataframe , the ratings were actually gotten from the text columns.

In [23]:
image_pred.shape

(2075, 12)

The `image_pred` table has about 2075 observations and 12 features

In [24]:
image_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [25]:
image_pred.isna().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [26]:
image_pred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [27]:
image_pred['p1'].unique()

array(['Welsh_springer_spaniel', 'redbone', 'German_shepherd',
       'Rhodesian_ridgeback', 'miniature_pinscher',
       'Bernese_mountain_dog', 'box_turtle', 'chow', 'shopping_cart',
       'miniature_poodle', 'golden_retriever', 'Gordon_setter',
       'Walker_hound', 'pug', 'bloodhound', 'Lhasa', 'English_setter',
       'hen', 'desktop_computer', 'Italian_greyhound', 'Maltese_dog',
       'three-toed_sloth', 'ox', 'malamute', 'guinea_pig',
       'soft-coated_wheaten_terrier', 'Chihuahua',
       'black-and-tan_coonhound', 'coho', 'toy_terrier',
       'Blenheim_spaniel', 'Pembroke', 'llama',
       'Chesapeake_Bay_retriever', 'curly-coated_retriever', 'dalmatian',
       'Ibizan_hound', 'Border_collie', 'Labrador_retriever', 'seat_belt',
       'snail', 'miniature_schnauzer', 'Airedale', 'triceratops', 'swab',
       'hay', 'hyena', 'jigsaw_puzzle', 'West_Highland_white_terrier',
       'toy_poodle', 'giant_schnauzer', 'vizsla', 'vacuum', 'Rottweiler',
       'Siberian_husky', 'teddy', 'papillon', 'Saint_Bernard',
       'porcupine', 'goose', 'Tibetan_terrier', 'borzoi', 'beagle',
       'hare', 'Yorkshire_terrier', 'Pomeranian', 'electric_fan',
       'web_site', 'ibex', 'kuvasz', 'fire_engine', 'lorikeet',
       'flat-coated_retriever', 'toyshop', 'common_iguana',
       'Norwegian_elkhound', 'frilled_lizard', 'leatherback_turtle',
       'hamster', 'Angora', 'Arctic_fox', 'trombone', 'canoe',
       'king_penguin', 'shopping_basket', 'standard_poodle',
       'Staffordshire_bullterrier', 'basenji', 'Lakeland_terrier',
       'American_Staffordshire_terrier', 'bearskin', 'Shih-Tzu',
       'bustard', 'crash_helmet', 'French_bulldog', 'Pekinese',
       'komondor', 'ski_mask', 'malinois', 'kelpie', 'Brittany_spaniel',
       'cocker_spaniel', 'shower_curtain', 'basset', 'jellyfish',
       'doormat', 'Arabian_camel', 'lynx', 'hog', 'comic_book', 'minivan',
       'seashore', 'cuirass', 'Brabancon_griffon', 'candle', 'Eskimo_dog',
       'weasel', 'Christmas_stocking', 'washbasin', 'car_mirror',
       'piggy_bank', 'pot', 'boathouse', 'mud_turtle',
       'German_short-haired_pointer', 'Shetland_sheepdog',
       'Irish_terrier', 'cairn', 'platypus', 'English_springer',
       'whippet', 'ping-pong_ball', 'sea_urchin', 'bow_tie',
       'window_shade', "jack-o'-lantern", 'sorrel', 'Sussex_spaniel',
       'peacock', 'axolotl', 'wool', 'banana', 'Dandie_Dinmont',
       'Norwich_terrier', 'wood_rabbit', 'dhole', 'keeshond',
       'Norfolk_terrier', 'lacewing', 'dingo', 'brown_bear',
       'Old_English_sheepdog', 'scorpion', 'flamingo', 'microphone',
       'Samoyed', 'pitcher', 'African_hunting_dog', 'refrigerator',
       'picket_fence', 'tub', 'zebra', 'hermit_crab', 'swing', 'Doberman',
       'park_bench', 'feather_boa', 'Loafer', 'stone_wall', 'ice_bear',
       'prayer_rug', 'chimpanzee', 'china_cabinet', 'bee_eater',
       'tennis_ball', 'carton', 'killer_whale', 'ostrich', 'terrapin',
       'Siamese_cat', 'gondola', 'Great_Pyrenees', 'microwave',
       'starfish', 'sandbar', 'tusker', 'motor_scooter', 'ram',
       'leaf_beetle', 'wombat', 'schipperke', 'Newfoundland',
       'bull_mastiff', 'water_bottle', 'suit', 'toilet_seat', 'collie',
       'robin', 'Cardigan', 'Greater_Swiss_Mountain_dog', 'slug',
       'toilet_tissue', 'acorn_squash', 'soccer_ball',
       'African_crocodile', 'tick', 'ocarina', 'boxer', 'street_sign',
       'bow', 'stove', 'paper_towel', 'upright', 'dough',
       'Scottish_deerhound', 'bath_towel', 'standard_schnauzer',
       'walking_stick', 'Irish_water_spaniel', 'bubble', 'Boston_bull',
       'book_jacket', 'rain_barrel', 'black-footed_ferret', 'guenon',
       'Japanese_spaniel', 'water_buffalo', 'patio', 'cowboy_hat',
       'dogsled', 'maze', 'harp', 'panpipe', 'cash_machine', 'mailbox',
       'wallaby', 'EntleBucher', 'earthstar', 'pillow', 'bluetick',
       'space_heater', 'carousel', 'Irish_setter', 'birdhouse', 'snorkel',
       'bald_eagle', 'koala', 'Leonberg', 'cheetah', 'minibus',
       'Weimaraner', 'clog', 'dishwasher', 'white_wolf', 'sliding_door',
       'damselfly', 'Great_Dane', 'Tibetan_mastiff', 'cheeseburger',
       'fiddler_crab', 'bannister', 'crane', 'Scotch_terrier',
       'snowmobile', 'badger', 'bighorn', 'geyser', 'barrow', 'bison',
       'Mexican_hairless', 'ice_lolly', 'sea_lion', 'dining_table',
       'groenendael', 'Australian_terrier', 'beaver', 'briard',
       'Appenzeller', 'grey_fox', 'mousetrap', 'hippopotamus',
       'Border_terrier', 'hummingbird', 'tailed_frog', 'otter',
       'Egyptian_cat', 'four-poster', 'wild_boar', 'bathtub', 'agama',
       'muzzle', 'hotdog', 'bib', 'espresso', 'timber_wolf', 'meerkat',
       'nail', 'hammer', 'home_theater', 'alp', 'bonnet', 'handkerchief',
       'hand_blower', 'polecat', 'lakeside', 'studio_couch', 'cup',
       'cliff', 'Bedlington_terrier', 'lawn_mower', 'balloon',
       'sunglasses', 'rapeseed', 'traffic_light', 'coil', 'binoculars',
       'paddle', 'tiger_shark', 'sulphur-crested_cockatoo',
       'wire-haired_fox_terrier', 'Saluki', 'American_black_bear',
       'rotisserie', 'conch', 'skunk', 'bookshop', 'radio_telescope',
       'cougar', 'African_grey', 'coral_reef', 'lion', 'maillot',
       'Madagascar_cat', 'tabby', 'silky_terrier', 'giant_panda',
       'long-horned_beetle', 'Afghan_hound', 'clumber', 'sundial',
       'padlock', 'pool_table', 'quilt', 'beach_wagon', 'remote_control',
       'bakery', 'pedestal', 'gas_pump', 'bookcase', 'shield', 'loupe',
       'restaurant', 'prison', 'school_bus', 'cowboy_boot', 'jersey',
       'wooden_spoon', 'leopard', 'mortarboard', 'teapot',
       'military_uniform', 'washer', 'coffee_mug', 'fountain',
       'pencil_box', 'barbell', 'grille', 'revolver', 'envelope',
       'syringe', 'marmot', 'pole', 'laptop', 'basketball', 'tricycle',
       'convertible', 'limousine', 'orange'], dtype=object)

In [28]:
## To check if there is duplicates in the tweet_id column and jpg_url
len(image_pred[image_pred['tweet_id'].duplicated()])

0

There is no duplicate in the tweet_id column.

In [29]:
image_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [30]:
len(image_pred[image_pred.duplicated(subset='jpg_url', keep='last')])

66

Same could not be said for the jpg_url column. There are  66 duplicates observations in this columns.

In [31]:
image_pred['img_num'].value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [32]:
image_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [33]:
len(json_df[json_df.duplicated(subset='id')])

0

In [34]:
json_df.head()

                   id  favorite_count  retweet_count
0  892420643555336193           32900           6877
1  892177421306343426           28430           5179
2  891815181378084864           21371           3422
3  891689557279858688           35866           7086
4  891327558926688256           34309           7598

In [35]:
json_df.isnull().sum()

id                0
favorite_count    0
retweet_count     0
dtype: int64

### Quality issues
1. Missing records from the following columns('in_reply_to_status_id', 'in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp', 'expanded_urls')

2. inaccurate data types for both the timestamp and tweet_id columns in the `tweet_archive` table.

3. Presence of outliers in the rating_numerator
4. Presence of outliers in rating_denominator

5. Invalid dog names.


6. inaccurate ratings

7. Retweets and duplicated images

8. source column contains url

9. in the `image_pred`  table one pred_dog and one confidence_level is enough.

### Tidiness issues
1. in the `twitter_archive` table the doggo,floofer,pupper,puppo are not columns.
2. split the text column into url and source.
4.  Duplication of tweet_id columns.

In [36]:
# Make copies of original pieces of data
json_df_clean= json_df.copy()
image_pred_clean= image_pred.copy()
twitter_archive_clean = twitter_archive.copy()

<a id="#clean"></a>
## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [37]:
total=len(twitter_archive_clean)

In [38]:
twitter_archive_clean.isna().sum()/total

tweet_id                      0.000000
in_reply_to_status_id         0.966893
in_reply_to_user_id           0.966893
timestamp                     0.000000
source                        0.000000
text                          0.000000
retweeted_status_id           0.923175
retweeted_status_user_id      0.923175
retweeted_status_timestamp    0.923175
expanded_urls                 0.025042
rating_numerator              0.000000
rating_denominator            0.000000
name                          0.000000
doggo                         0.000000
floofer                       0.000000
pupper                        0.000000
puppo                         0.000000
dtype: float64

### Issue #1: Missing records

#### Define: Drop columns with above 90% missing values  using the `drop()`

#### Code

In [39]:
twitter_archive_clean.drop(columns=['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'],inplace=True)

In [40]:
twitter_archive_clean['expanded_urls']=twitter_archive_clean['expanded_urls'].fillna(value='no url')

#### Test

In [41]:
twitter_archive_clean.isna().sum()

tweet_id              0
timestamp             0
source                0
text                  0
expanded_urls         0
rating_numerator      0
rating_denominator    0
name                  0
doggo                 0
floofer               0
pupper                0
puppo                 0
dtype: int64

### Issue #2: Change columns datatype

#### Define
 
Change the datatype of the timestamp column from string to datetime and that of the tweet_id will change from int to string. This can be done by applying the `astype()`. Drop both the ratings_numerator and  rating_denominator columns.

In [42]:
image_pred['tweet_id'].dtype

dtype('int64')

#### Code

In [43]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])
twitter_archive_clean['tweet_id']= twitter_archive_clean['tweet_id'].astype('object')
json_df_clean['id']= json_df_clean['id'].astype('object')
image_pred_clean['tweet_id']= image_pred_clean['tweet_id'].astype('object')

#### Test

In [44]:
assert twitter_archive_clean['tweet_id'].dtype == 'object'

In [45]:
twitter_archive_clean['timestamp'].dtype

datetime64[ns, UTC]

### issue #3: Inaccurate Ratings

#### Define
First of all extract the accurate ratings using the `extract()` from the text column. Since the ratings comes in fractional form, it will be splitted into the numerator and denominator by '/' using the `split()`.

In [46]:
pattern = '(\d+(\.\d+)?\/\d+(\.\d+)?)'

In [47]:
# extract the ratings
extract_ratings = twitter_archive_clean['text'].str.extract(pattern,expand=True)[0]

In [48]:
extract_ratings

0       13/10
1       13/10
2       12/10
3       13/10
4       12/10
        ...
2351     5/10
2352     6/10
2353     9/10
2354     7/10
2355     8/10
Name: 0, Length: 2356, dtype: object

In [49]:
# split by '/'  
twitter_archive_clean[['num','den']]= extract_ratings.str.split('/',n=1,expand=True)

In [50]:
# drop columns
twitter_archive_clean.drop(columns=['rating_denominator','rating_numerator'],inplace=True)

In [51]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweet_id       2356 non-null   object
 1   timestamp      2356 non-null   datetime64[ns, UTC]
 2   source         2356 non-null   object
 3   text           2356 non-null   object
 4   expanded_urls  2356 non-null   object
 5   name           2356 non-null   object
 6   doggo          2356 non-null   object
 7   floofer        2356 non-null   object
 8   pupper         2356 non-null   object
 9   puppo          2356 non-null   object
 10  num            2356 non-null   object
 11  den            2356 non-null   object
dtypes: datetime64[ns, UTC](1), object(11)
memory usage: 221.0+ KB

In [52]:
# rename columns
twitter_archive_clean.rename(columns={'num':'rating_numerator','den':'rating_denominator'},inplace=True)

In [53]:
twitter_archive_clean['rating_denominator']= twitter_archive_clean['rating_denominator'].astype('int64')

In [54]:
twitter_archive_clean['rating_numerator']= twitter_archive_clean['rating_numerator'].astype('float')

#### Test

In [55]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   object
 1   timestamp           2356 non-null   datetime64[ns, UTC]
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   expanded_urls       2356 non-null   object
 5   name                2356 non-null   object
 6   doggo               2356 non-null   object
 7   floofer             2356 non-null   object
 8   pupper              2356 non-null   object
 9   puppo               2356 non-null   object
 10  rating_numerator    2356 non-null   float64
 11  rating_denominator  2356 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(9)
memory usage: 221.0+ KB

### Issue #4 and 5: Removing Outliers.

#### Define
Retain all records that has the denominator of 10 and and numerators starting from zero to 15.

#### Code

In [56]:
denominator_10 = np.equal(twitter_archive_clean['rating_denominator'],10)

In [57]:
numerator_zero_15= np.logical_and(twitter_archive_clean['rating_numerator']>=0,twitter_archive_clean['rating_numerator']<=15)

In [58]:
twitter_archive_clean= twitter_archive_clean[np.logical_and(denominator_10,numerator_zero_15)]

#### Test

In [59]:
twitter_archive_clean['rating_denominator'].unique()

array([10], dtype=int64)

### Issue 6 : Inaccurate Names

#### Define
Match records that contain the string 'a' in the name column. Then extract the names of the dogs from the text columns using the extract() and replace names that are invalid with 'nameless'

#### Code

In [60]:
extract_names=twitter_archive_clean[twitter_archive_clean['name'].str.match('a')].text.str.extract(r'(named\s\w+)').dropna()
extract_names

                    0
1853      named Wylie
1955        named Kip
2034      named Jacob
2066      named Rufus
2116      named Spork
2125   named Cherokee
2128      named Hemry
2146    named Alphred
2161    named Alfredo
2191      named Leroi
2204      named Berta
2218       named Chuk
2235    named Alfonso
2249     named Cheryl
2255    named Jessiga
2264      named Klint
2273       named Kohl
2304       named Pepe
2311  named Octaviath
2314       named Johm

In [61]:
twitter_archive_clean.loc[extract_names.index,'name']=extract_names[0].str.slice(6)

In [62]:
twitter_archive_clean[(twitter_archive_clean['name']=='a') & (twitter_archive_clean['text'].str.contains('name is'))]

,tweet_id,timestamp,source,text,expanded_urls,name,doggo,floofer,pupper,puppo,rating_numerator,rating_denominator
2287,667177989038297088,2015-11-19 03:10:02+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a Dasani Kingfisher from Maine. His na...,https://twitter.com/dog_rates/status/667177989...,a,None,None,None,None,8.0,10

In [63]:
twitter_archive_clean.at[2287,'name']= 'Daryl'

In [64]:
lower_list = list(twitter_archive[twitter_archive['name'].str.islower()].name.value_counts().index)
lower_list.append('None')
lower_list

['a',
 'the',
 'an',
 'very',
 'just',
 'quite',
 'one',
 'getting',
 'actually',
 'mad',
 'not',
 'old',
 'life',
 'officially',
 'light',
 'by',
 'infuriating',
 'such',
 'all',
 'unacceptable',
 'this',
 'his',
 'my',
 'incredibly',
 'space',
 'None']

In [65]:
lower_list_names=twitter_archive_clean[twitter_archive_clean['name'].isin(lower_list)]

In [66]:
twitter_archive_clean.loc[lower_list_names.index,'name']='nameless'

In [67]:
twitter_archive_clean['name'].value_counts()

nameless      808
Charlie        12
Lucy           11
Cooper         11
Oliver         11
             ...
Simba           1
Bayley          1
Meatball        1
Storkson        1
Christoper      1
Name: name, Length: 948, dtype: int64

In [68]:
twitter_archive_clean.at[2287,'text']

"This is a Dasani Kingfisher from Maine. His name is Daryl. Daryl doesn't like being swallowed by a panda. 8/10 https://t.co/jpaeu6LNmW"

In [69]:
twitter_archive_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls', 'name',
       'doggo', 'floofer', 'pupper', 'puppo', 'rating_numerator',
       'rating_denominator'],
      dtype='object')

### Tidiness Issues 1:  in the twitter_archive table the doggo,floofer,pupper,puppo are not columns.

#### Define
Replace values none value with empty string and collapse those four columns to form a new column called dog_
stage

#### Code

In [70]:
# Replace all None value with an empty string
twitter_archive_clean['doggo'].replace('None','',inplace=True)
twitter_archive_clean['floofer'].replace('None','',inplace=True)
twitter_archive_clean['pupper'].replace('None','',inplace=True)
twitter_archive_clean['puppo'].replace('None','',inplace=True)

In [71]:
twitter_archive_clean.groupby(['doggo','floofer','pupper','puppo']).size()

doggo  floofer  pupper  puppo
                                 1947
                        puppo      29
                pupper            245
       floofer                      9
doggo                              83
                        puppo       1
                pupper             12
       floofer                      1
dtype: int64

In [72]:
twitter_archive_clean['dog_stage']= twitter_archive_clean['doggo']+ twitter_archive_clean['floofer']+twitter_archive_clean['pupper'] +twitter_archive_clean['puppo']

In [73]:
twitter_archive_clean['dog_stage'].value_counts()

                1947
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggopuppo         1
doggofloofer       1
Name: dog_stage, dtype: int64

In [74]:
twitter_archive_clean.loc[twitter_archive_clean['dog_stage']=='doggopupper','dog_stage']='doggo,pupper'

In [75]:
twitter_archive_clean.loc[twitter_archive_clean['dog_stage']=='doggopuppo','dog_stage']='doggo,puppo'
twitter_archive_clean.loc[twitter_archive_clean['dog_stage']=='doggofloofer','dog_stage']='doggo,floofer'

In [76]:
twitter_archive_clean.drop(columns=['doggo','floofer','pupper','puppo'],inplace=True)

In [77]:
empty_str= twitter_archive_clean[twitter_archive_clean['dog_stage']=='']
twitter_archive_clean.loc[empty_str.index,'dog_stage']='unclassified'

#### Testing

In [78]:
twitter_archive_clean['dog_stage'].value_counts()

unclassified     1947
pupper            245
doggo              83
puppo              29
doggo,pupper       12
floofer             9
doggo,puppo         1
doggo,floofer       1
Name: dog_stage, dtype: int64

### Issue 7. Url in source Column

#### Define
Extract the source of tweet from the url using the `extract()`

In [79]:
twitter_archive_clean.loc[1,'source']

'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'

In [80]:
twitter_archive_clean['source']= twitter_archive_clean['source'].str.extract('\>(.*?)\<',expand=True)

#### Testing

In [81]:
twitter_archive_clean['source'].value_counts()

Twitter for iPhone     2193
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                10
Name: source, dtype: int64

### Tidiness 2 : url in text column

#### Define
Extract the url link from the text column using the `extract()` to form the the text_link column and split the link from the text column using the `split()`

In [82]:
## extract the url
twitter_archive_clean['text_link']=twitter_archive_clean['text'].str.extract(r'(https.*)(?:)')[0]
# split the url
twitter_archive_clean['text']=twitter_archive_clean['text'].str.split(r'(https.*)(?:)',expand=True)[0]

#### Testing

In [83]:
twitter_archive_clean['text_link'].head()

0    https://t.co/MgUWQ76dJU
1    https://t.co/0Xxu71qeIV
2    https://t.co/wUnZnhtVJB
3    https://t.co/tD36da7qLQ
4    https://t.co/AtUZn91f7f
Name: text_link, dtype: object

In [84]:
twitter_archive_clean.loc[1,'text']

"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 "

### Issue 8. Inconsistent Case

#### Define
capitalize all the values in the p1,p2 and p3 columns using the `capitalize()`

#### Code

In [85]:
image_pred_clean['p1']= image_pred_clean['p1'].str.capitalize()
image_pred_clean['p2']= image_pred_clean['p2'].str.capitalize()
image_pred_clean['p2']= image_pred_clean['p3'].str.capitalize()

#### Testing

In [86]:
image_pred_clean['p1'].sample(5)

952               Airedale
1460       German_shepherd
322     Labrador_retriever
1170    Labrador_retriever
270               Web_site
Name: p1, dtype: object

### Tidiness issue 3

#### Code

In [87]:

def get_attribute(x):
    
    '''
      Input:
         check if the dog prediction is True
         return the the first dog breed
         
         if the first dog predict is true move to the second dog prediction
         and return the the dog breed for that prediction
         else return the dog breed from the third prediction
         
    
    '''
    if x[0]==True:
        return x[1]
    elif x[2]== True:
        return x[3]
    else:
        return x[4]

In [88]:
image_pred_clean['prediction_breed']=image_pred_clean[['p1_dog','p1','p2_dog','p2','p3']].apply(get_attribute,axis=1)
image_pred_clean['prediction_conf']=image_pred_clean[['p1_dog','p1_conf','p2_dog','p2_conf','p3_conf']].apply(get_attribute,axis=1)

In [89]:
image_pred_clean['prediction_breed']= image_pred_clean['prediction_breed'].str.replace("_",' ')

In [90]:
image_pred_clean['prediction_breed'].sample(10)

1022        Old english sheepdog
1758                  Rottweiler
739                          Pug
1139             German shepherd
203                  paper towel
1340    Chesapeake bay retriever
1400                     Basenji
421     European fire salamander
263             Miniature poodle
888                   Schipperke
Name: prediction_breed, dtype: object

Note: This funtion was gotten from [Joshua OluBori Kaggle page](https://www.kaggle.com/code/joshuaolubori/tweet-data-wrangling-and-analysis#Project:-Analysis-of-Tweet-Data-of-WeRateDogs-Twitter-Account)

#### Testing

In [91]:
image_pred_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'prediction_breed',
       'prediction_conf'],
      dtype='object')

In [92]:
image_pred_clean.drop(columns=['p1', 'p1_conf', 'p1_dog', 'p2','p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],inplace=True)

In [93]:
image_pred_clean.shape

(2075, 5)

In [94]:
len(image_pred_clean)

2075

### issue8. Retweet and image Duplicates

#### Define 
First of all merge all datasets and drop all duplicates record found in the text and  jpg_url columns.

#### Code

   In order to avoid duplicates of columns, drop id column

In [95]:
retweets_df=twitter_archive_clean[twitter_archive_clean['text'].str.contains('RT @')]
retweets_df

,tweet_id,timestamp,source,text,expanded_urls,name,rating_numerator,rating_denominator,dog_stage,text_link
19,888202515573088257,2017-07-21 01:02:36+00:00,Twitter for iPhone,RT @dog_rates: This is Canela. She attempted s...,https://twitter.com/dog_rates/status/887473957...,Canela,13.0,10,unclassified,https://t.co/cLyzpcUcMX
32,886054160059072513,2017-07-15 02:45:48+00:00,Twitter for iPhone,RT @Athletics: 12/10 #BATP,https://twitter.com/dog_rates/status/886053434...,nameless,12.0,10,unclassified,https://t.co/WxwJmvjfxo
36,885311592912609280,2017-07-13 01:35:06+00:00,Twitter for iPhone,RT @dog_rates: This is Lilly. She just paralle...,https://twitter.com/dog_rates/status/830583320...,Lilly,13.0,10,unclassified,https://t.co/SATN4If5H5
68,879130579576475649,2017-06-26 00:13:58+00:00,Twitter for iPhone,RT @dog_rates: This is Emmy. She was adopted t...,https://twitter.com/dog_rates/status/878057613...,Emmy,14.0,10,unclassified,https://â€¦
73,878404777348136964,2017-06-24 00:09:53+00:00,Twitter for iPhone,RT @dog_rates: Meet Shadow. In an attempt to r...,"https://www.gofundme.com/3yd6y1c,https://twitt...",Shadow,13.0,10,unclassified,https:/â€¦
...,...,...,...,...,...,...,...,...,...,...
1023,746521445350707200,2016-06-25 01:52:36+00:00,Twitter for iPhone,RT @dog_rates: This is Shaggy. He knows exactl...,https://twitter.com/dog_rates/status/667866724...,Shaggy,10.0,10,unclassified,https:/â€¦
1043,743835915802583040,2016-06-17 16:01:16+00:00,Twitter for iPhone,RT @dog_rates: Extremely intelligent dog here....,https://twitter.com/dog_rates/status/667138269...,nameless,10.0,10,unclassified,https://t.co/0Dvâ€¦
1242,711998809858043904,2016-03-21 19:31:59+00:00,Twitter for iPhone,RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,https://twitter.com/twitter/status/71199827977...,nameless,12.0,10,unclassified,https://t.co/j6FQGhxYuN
2259,667550904950915073,2015-11-20 03:51:52+00:00,Twitter Web Client,RT @dogratingrating: Exceptional talent. Origi...,https://twitter.com/dogratingrating/status/667...,nameless,12.0,10,unclassified,https://t.co/uarnTjBeVA
2260,667550882905632768,2015-11-20 03:51:47+00:00,Twitter Web Client,RT @dogratingrating: Unoriginal idea. Blatant ...,https://twitter.com/dogratingrating/status/667...,nameless,5.0,10,unclassified,https://t.co/r7XzeQZWzb

In [96]:
## Drop retweet observations
twitter_archive_clean.drop(index=retweets_df.index,inplace=True)

In [97]:
twitter_archive_clean.shape

(2147, 10)

In [98]:
twitter_archive_master=twitter_archive_clean.merge(image_pred_clean, on='tweet_id', how='left').merge(json_df_clean,left_on='tweet_id',right_on='id')

In [99]:
twitter_archive_master.drop(columns='id',inplace=True)

In [100]:
twitter_archive_master.shape

(2139, 16)

In [101]:
twitter_archive_master.isnull().sum()

tweet_id                0
timestamp               0
source                  0
text                    0
expanded_urls           0
name                    0
rating_numerator        0
rating_denominator      0
dog_stage               0
text_link              50
jpg_url               173
img_num               173
prediction_breed      173
prediction_conf       173
favorite_count          0
retweet_count           0
dtype: int64

#### Test

In [102]:
twitter_archive_master[twitter_archive_master.duplicated(subset=['text','jpg_url'])]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, name, rating_numerator, rating_denominator, dog_stage, text_link, jpg_url, img_num, prediction_breed, prediction_conf, favorite_count, retweet_count]
Index: []

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [103]:
twitter_archive_master.to_csv("twitter_archive_master.csv",index=False)

<a id="#visual"></a>
## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

In [104]:
twitter_archive_df= pd.read_csv('twitter_archive_master.csv')
twitter_archive_df.shape

(2139, 16)

### Feature Engineering

In [105]:
twitter_archive_df['timestamp']= pd.to_datetime(twitter_archive_df['timestamp'])

In [106]:
twitter_archive_df['year']= twitter_archive_df['timestamp'].dt.year
twitter_archive_df['month']= twitter_archive_df['timestamp'].dt.month_name()
twitter_archive_df['hour']= twitter_archive_df['timestamp'].dt.hour
twitter_archive_df['day_of_the_week']= twitter_archive_df['timestamp'].dt.day_name()

In [107]:
twitter_archive_df.head()

,tweet_id,timestamp,source,text,expanded_urls,name,rating_numerator,rating_denominator,dog_stage,text_link,jpg_url,img_num,prediction_breed,prediction_conf,favorite_count,retweet_count,year,month,hour,day_of_the_week
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,Phineas,13.0,10,unclassified,https://t.co/MgUWQ76dJU,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,banana,0.076110,32900,6877,2017,August,16,Tuesday
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,Tilly,13.0,10,unclassified,https://t.co/0Xxu71qeIV,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1.0,Chihuahua,0.323581,28430,5179,2017,August,0,Tuesday
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,Archie,12.0,10,unclassified,https://t.co/wUnZnhtVJB,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1.0,Chihuahua,0.716012,21371,3422,2017,July,0,Monday
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,Darla,13.0,10,unclassified,https://t.co/tD36da7qLQ,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1.0,Spatula,0.168086,35866,7086,2017,July,15,Sunday
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,Franklin,12.0,10,unclassified,https://t.co/AtUZn91f7f,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2.0,Basset,0.555712,34309,7598,2017,July,16,Saturday

<a id="#visual"></a>
### Visualization

In [ ]:
monthly_average_favorit_count=twitter_archive_df.resample('M',on='timestamp').mean()['favorite_count']

In [ ]:
def create_lineplot(x,y, xlabel,ylabel,title):
    plt.figure(dpi=100)
    plt.title(title)
    plt.xticks(rotation =90)
    sns.lineplot(x=x,y=y)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)

### How did the WeRateDogs tweet perform overtime?

In [ ]:
create_lineplot(monthly_average_favorit_count.index,monthly_average_favorit_count,'Month','Average favourite count', 'Average Monthly Favorite Count')

In [ ]:
monthly_average_retweet_count=twitter_archive_df.resample('M',on='timestamp').mean()['retweet_count']

In [ ]:
create_lineplot(monthly_average_retweet_count.index,monthly_average_retweet_count,'Month','Average Retweet count', 'Average Monthly Retweet Count')

From the above lineplots, it appears that the average amount of retweets and likes increased overtime.

In [ ]:
tweets_source = twitter_archive_df['source'].value_counts()
tweets_source

###  Which of the sources Were the WeRateDogs Tweets tweeted from the most?

In [ ]:
plt.figure(dpi=100)
plt.xticks(rotation=75)
plt.title('Proportion of Source Tweets')
plt.xlabel('Source of Tweets')
plt.ylabel('Frequency')
sns.countplot(data=twitter_archive_df,x='source')
plt.show()

From the countplot we could easily see that iphone users were overwhelmly represented in the WeRateDogs datasets.

### Rating Distribution

In [ ]:
plt.figure(dpi=100)
sns.displot(data=twitter_archive_df,x='rating_numerator',kind='kde')
plt.title('Distribution of Rating Numerator',fontsize=15)
plt.xlabel('Rating Numeratior')
plt.show()

From the kdeplot above, we could see that the kdeplot was skewed to the left which means that it clustered the most within 12 and 12.5. This implies that most of the dogs were rated within the cluster region of the kdeplot.

In [ ]:
fig,(ax1,ax2) = plt.subplots(nrows=1,ncols=2,figsize=(15,8))
fig.suptitle('Distribution of Likes and Retweet',fontsize=20)
### Favourite Count
ax1.hist(twitter_archive_df['favorite_count'])
ax1.set_title('Distribution Tweets Likes')
ax1.set_ylabel('Frequency')
ax1.set_xlabel('Favourite Counts')

## retweet
ax2.hist(twitter_archive_df['retweet_count'])
ax2.set_title('Distribution Tweets Retweet')
ax2.set_ylabel('Frequency')
ax2.set_xlabel('Retweet Counts')
plt.show()

In [ ]:
## Inorder to avoid repetition of we created a function that helps to create a barplot.
def create_barplot(df,x,y,title,palette):
    plt.figure(dpi=100)
    plt.xticks(rotation=75)
    plt.title(title)
    sns.barplot(data=df,x=x,y=y,palette=palette)
    plt.show()

In [ ]:
create_barplot(twitter_archive_df,'month','favorite_count','Number of likes Monthly','Set1')

From the observed barplot, we noticed that the months were not appropriately sorted.To solve this issue. Some libraries will have to be installed.

install sort-dataframeby-monthweek and sorted-months-weekdays. Both libraries will help to sort the months and days of the week as seen on the calendar.

`!pip install sort-dataframeby-monthorweek` <br>

`!pip install sorted-months-weekdays`

In [ ]:
import sort_dataframeby_monthorweek as sd
import sorted_months_weekdays

In [ ]:
month_df = twitter_archive_df.groupby('month')[['favorite_count']].mean().reset_index()
month_df

In [ ]:
# create a function that sort the month and days of the week
def sort_month_weekday(sort,df,col):  
    sort_month = sort(df,col)
    return sort_month

In [ ]:
sort_month_df = sort_month_weekday(sd.Sort_Dataframeby_Month,month_df,'month')
sort_month_df

In [ ]:
create_barplot(sort_month_df,'month','favorite_count','Average number of likes made per Month','Set2')

The most Average WeRatedog likes was made of July.

###  What time of the day do most people tweet?

In [ ]:
"""
Parameters
    Return two strings
        day: If the Hour the tweets is made is before 16.
        night: if the hour the tweets made is from 16 and after.
"""

time = 16
def day_night(x):
    if x['hour'] < time:
        return 'day'
    else:
        return 'night'
twitter_archive_df['day_night']= twitter_archive_df.apply(day_night,axis=1)

In [ ]:
day_night_counts_df = twitter_archive_df['day_night'].value_counts(normalize=True)
day_night_counts_df

In [ ]:
plt.figure(dpi=100)
plt.title('Percentage of Tweeets made during the day and Night')
plt.pie(labels=day_night_counts_df.index,x=day_night_counts_df.values,autopct='%1.1f%%',)
plt.show()

From the observed pie chart,it shows thats about 56.5% of the WeRateDogs tweets were made during the day(12 am the morning to 5 pm) while the remaining 43.5% were made at night.

In [ ]:
create_barplot(twitter_archive_df,'day_night','retweet_count','Distribution','gist_yarg_r')

The WeRateDog tweets attracted the higher average number of Likes during the night period.

In [ ]:
day_of_the_week_df = twitter_archive_df.groupby('day_of_the_week')[['favorite_count']].mean().reset_index()
day_of_the_week_df

In [ ]:
sort_day_df = sort_month_weekday(sd.Sort_Dataframeby_Weekday,day_of_the_week_df,'day_of_the_week')
sort_day_df

In [ ]:
create_barplot(sort_day_df,'day_of_the_week','favorite_count','Number of Like made by Days of the Week','Set2')

The above barplot
shows that during the 3 year period the WeRateDog tweet attracted the most average number of likes on Wednesday while Thurday attracted the least.

In [ ]:
dow_df=twitter_archive_df.groupby(['day_of_the_week','hour']).size()
dow_df

In [ ]:
dow_unstack=dow_df.unstack().fillna(value=0)
dow_unstack

In [ ]:
plt.figure(dpi=100)
plt.title('Heatmap of Number of Tweets between Hours and Days of the week',fontsize=10)
sns.heatmap(data=dow_unstack,cmap='Blues')
plt.show()

From the heatmap, we  could see that most of the WeRateDogs  tweets were tweeted in the early hours of the day, from 12 midnight to 3am and rapidly declines from the 4am to 2pm .This could be partly down to their busy schedule during the day as most people are known to work with that period of the day.For much of the evening the tweet activity slightly pickup again as most persons are known to have returned from work during that period.  Mondays, Tuesday and Fridays tweet activities are mostly within the period of 12, 1 and 2 in the early hours of the morning.

In [ ]:
df=pd.pivot_table(data=twitter_archive_df,columns='year',index='day_of_the_week',
               values='favorite_count',aggfunc='count').style.background_gradient()
df

The above table shows that during the 3 year period the WeRateDog tweet was tweeted the most on Mondays while Sunday it was tweeted the least.

### What  year has the most WeRateDogs Tweets?

In [ ]:
plt.figure(dpi=100)
plt.title('Number of Tweets by Year')
sns.countplot(data=twitter_archive_df,x='year')
plt.show()

In [ ]:
dog_breed=twitter_archive_df.groupby('prediction_breed').size().nlargest(10)
dog_breed

In [ ]:
def create_hor_barchart(x,y,xlabel,ylabel,title):
    plt.figure(dpi=100)
    plt.title(title)
    plt.ylabel(ylabel)
    plt.xlabel(xlabel)
    sns.barplot(x=x,y=y)
    plt.show()

In [ ]:
create_hor_barchart(dog_breed,dog_breed.index,'count','Dog breed' ,'Number of Dog breed')

The Golden Retrievers seems to be dog breed that was predicted the most.

In [ ]:
dog_breed_likes = twitter_archive_df.groupby('prediction_breed')['favorite_count'].mean().nlargest(10)
dog_breed_likes

In [ ]:
create_hor_barchart(dog_breed_likes,dog_breed_likes.index,'Likes','Dog breed' ,'Average Number of Likes for Dog Breed')

<a id="#conclusion"></a>
## conclusion

After wrangling and carrying out exploratory data analysis. We were able gain the following insights:
#### Insights
* There was steady rise in the amount retweets and likes
* About 56.9% of the WeRateDog tweets were made during the day
* WeRateDogs tweets attracted the highest average number of likes in the month of July.
Most of the dogs were rated between 12 and 12.5.
* An overwhelming amount of WeRateDog tweets were made from an iphone.
* 2016 was the year with the highest number of WeRateDog tweets.
* The Golden Retrievers seem to be the dog breed that was predicted the most.
* WeRateDog tweets were tweeted the most in the early hours of morning between 12 am and 2am.
* There is always a spike in tweets activities on Monday.

#### Limitation of Study
During the course of analysis the following challenges were faced.
* There were some missing records in the datasets.
* There was also the presence of outliers on the datasets
* More time series analysis can be done on the datasets in order to get more insights on the datasets

<a id="#report"></a>
## Report
[Data Wrangling Report](https://docs.google.com/document/d/1yBtVZk0H6cgFvB5Q0xXukIbtj5l16tjxj1xVctUQ0ck/edit?usp=sharing)

[Data Visualization Report](https://docs.google.com/document/d/1pSWWCeJHoGfhED5Nt8rMCwLBmV34yGQ033owUJB38XY/edit?usp=sharing)